<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.corneliuswang.branch_sa_technical_assessment">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Branch_sa_technical_assessment">


        <!-- Branch init -->

        <activity
            android:name="com.corneliuswang.branch_sa_technical_assessment.GetInfoActivity"
            android:parentActivityName="com.corneliuswang.branch_sa_technical_assessment.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.corneliuswang.branch_sa_technical_assessment.MainActivity" />
        </activity>
        <activity
            android:name="com.corneliuswang.branch_sa_technical_assessment.DisplayMessageActivity"
            android:parentActivityName="com.corneliuswang.branch_sa_technical_assessment.DisplayMessageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.corneliuswang.branch_sa_technical_assessment.MainActivity" />
        </activity>
        <activity
            android:name="com.corneliuswang.branch_sa_technical_assessment.MainActivity"
            android:launchMode="singleTask"
            android:label="@string/app_name"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <data android:scheme="test" android:host="corywang.com" />
            </intent-filter>

            <!-- Branch URI Scheme -->
            <intent-filter>
                <data android:scheme="https" android:host="29nzl.app.link" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <!-- Branch App Links -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="29nzl.app.link" />
                <!-- example-alternate domain is required for App Links when the Journeys/Web SDK and Deepviews are used inside your website.  -->
                <data android:scheme="https" android:host="29nzl-alternate.app.link" />
                <data android:scheme="https" android:host="29nzl.test-app.link" />
                <data android:scheme="https" android:host="29nzl-alternate.test-app.link" />
            </intent-filter>
        </activity>
        <meta-data android:name="io.branch.sdk.BranchKey" android:value="key_live_gjYMhFnypzHJZGCHRxb3xafauwjUnroK" />
        <meta-data android:name="io.branch.sdk.BranchKey.test" android:value="key_test_hb9SdylvlCTUXSyJQAm5CopkDynJiFd9" />
        <meta-data android:name="io.branch.sdk.TestMode" android:value="false" />     <!-- Set to true to use Branch_Test_Key (useful when simulating installs and/or switching between debug and production flavors) -->
    </application>

</manifest>